<included>
    <contextName>workflowstatemonitor</contextName>

    <appender name="R" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>${user.home}/logs/${CONTEXT_NAME}/${CONTEXT_NAME}.log</File>

        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>

        <rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
            <maxIndex>10</maxIndex>
            <FileNamePattern>${user.home}/logs/${CONTEXT_NAME}/${CONTEXT_NAME}.log.%i</FileNamePattern>
        </rollingPolicy>

        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>32MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <root level="debug">
        <appender-ref ref="R"/>
    </root>
</included>
